<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Labelling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <p>Hello!</p>

        <p>I'm trying to determine an article's congruence, detecting how well its  headline matches its body.</p>

        <p>On the next page, you'll be presented with a news article. Please read it, and then use the buttons at the bottom to rate how well the headline represents the body text. Once you've submitted a rating, you'll be shown another article.</p>

        <p>Please take as much time as you need for each article, and to rate as many articles as you feel comfortable. If you wish to skip an article, you can do so using the button at the bottom of the page.</p>

        <p>The only data retained from your visit are the ratings you give and the time taken to rate each article. A cookie is stored on your device to keep track of which articles you've seen, so you don't get shown the same one twice.</p>

        <p>If you have any questions, concerns or comments, please feel free to email Jacob at 4033760@live.napier.ac.uk</p>

        <p>Thank you for taking part in this study</p>

        <a href="/rating">I understand, continue to the articles</a>

    </main>
</body>
</html>