<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Labelling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <h1>{{ article['headline'] }}</h1>
        {% for paragraph in article['body'].split('\n') %}
        <p>{{paragraph}}</p>
        {% endfor %}
        <hr>
        
        <h2>Does the article's body accurately portray its headline?</h2>
        <div class="rating-container">
            <span class="negative">Not at all</span>
            <div class="rating">
                <div class="option negative big" data-rating="0"><span>&check;</span></div>
                <div class="option negative medium" data-rating="1"><span>&check;</span></div>
                <div class="option negative small" data-rating="2"><span>&check;</span></div>
                <div class="option neutral selected" data-rating="3"><span>&check;</span></div>
                <div class="option positive small" data-rating="4"><span>&check;</span></div>
                <div class="option positive medium" data-rating="5"><span>&check;</span></div>
                <div class="option positive big" data-rating="6"><span>&check;</span></div>
            </div>
            <span class="positive">A perfect match</span>
        </div>
        
        <form method="post">
            <input type="hidden" name="article_id" value="{{ article['id'] }}">
            <input type="hidden" id="time_taken" name="time_taken">
            <input type="hidden" id="rating" name="rating" value="3">
            <input type="submit" value="Submit Rating">
        </form>

    </main>
    <script src="{{ url_for('static', filename='rating.js') }}"></script>
</body>
</html>